body{
    font-family: 'Noto Sans TC', sans-serif;
    // font-family: 'Noto Serif TC', serif;
}
//文字樣式部分
.letter-spacing{
    letter-spacing: .5rem;
}
.collections-text-vertical{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
@media (min-width: 768px) {
    .text-md-vertical{
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
}

.text-size-24px{
    font-size:24px;
}
.text-size-32px{
    font-size:32px;
}
