.bg-cover{
    background-size: cover;
    background-position: center center;
}
.border-line{
    border: 1px solid $primary;
    border-collapse: collapse;
}
.border-bottom-line{
    border-bottom:2px solid $sub-lightBlue;
    height:43px;
}
.bg-lighter{
    background-color: rgba(255, 255, 255, 0.65);
}
.height-40px{
    height:40px;
}
.height-50px{
    height:50px;
}
.height-60px{
    height: 60px;
}
@media (min-width: 992px) { 
    .checkout-main{
        .bg-lg-primary{
            background-color: $primary;
         }
        .text-lg-white{
            color:#fff;
        }
    }
}
@media(max-width:991px){
    .checkout-main{
        .bg-xs-lightBlue-0{
            background-color: $main-lightBlue;
        }
        .bg-xs-lightBlue-1{
            background-color: $sub-lightBlue;
        }
    }
}