// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";



//custom
body{
    font-family: 'Noto Sans TC', sans-serif;
    // font-family: 'Noto Serif TC', serif;
}
///////////////////////
///      index      ///
///////////////////////

@media (min-width: 768px) {
    .text-md-vertical{
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
}
.collections-text-vertical{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.text-horizontal{
    writing-mode: horizontal-tb;
}
.header{
    .jumbotron-bg{
        min-height: 496px;
        border-radius: 0;
        position: relative;
        z-index: -2;
        .block-wrap{
            position: relative;
            overflow: hidden;
            .block-fontSet{
                font-size:24px;
                letter-spacing: 16px;
                color:#fff;
            }
        }
        .active{
            .block-fontSet{
                color:$mainTone;
            }
            .block-img{
                filter: blur(0);
            }
        }
    }
}

.letter-spacing{
    letter-spacing: .5rem;
}


.block-color{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: -1;
    background-color: rgba(14, 48, 82, 0.6);
    transition: background-color .5s;
}

.active{
    .block-color{
        background-color: rgba(200,169,126,0.6);
    }
}
.block-img{
    position: absolute;
    left:-10px;
    right:-10px;
    top:-10px;
    bottom:-10px;
    z-index: -2;
    filter:blur(5px);
    transition:filter .5s;
    }
.bg-cover{
    background-size: cover;
    background-position: center center;
}
@media (min-width: 768px) {
    .margin-top{
        margin-top:-30px; 
    }
    .margin-bottom{
        margin-bottom:-30px;
    }
    .mb-md-100px{
        margin-bottom: 100px;
    }
}
.p-margin-block-0{
    margin-block-start: 0;
    margin-block-end: 0;
}

@each $color, $value in $theme-colors{
    .center-line-#{$color}{
        position: relative;
        &:after{
            content:"";
            position: absolute;
            height: 50px;
            left:50%;
            transform:translateX(-50%);
            width: 2px;
            background-color: $value;
        }
    }
}
.border-line{
    border: 1px solid $mainTone;
    border-collapse: collapse;
}
/////////////////////////
///      product      ///
/////////////////////////
.bg-lighter {
    background-color: rgba(255, 255, 255, 0.65);
}


//checkout-main
@media (min-width: 992px) { 
    .checkout-main{
        .bg-lg-primary{
             background-color: $mainTone;
         }
        .text-lg-white{
        color:#fff;
        }
    }
}
@media(max-width:991px){
    .checkout-main{
        .bg-xs-lightBlue-0{
            background-color: $lightBlue;
        }
        .bg-xs-lightBlue-1{
            background-color: $lightBlue-1;
        }
    }
}

.height-60px{
    height: 60px;
}